<!DOCTYPE html>
<html lang="he">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/cardGame.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hand Sign Learning</title>
    
</head>
<body>
    <header>Hand Sign Learning</header>
    <p class="titlePage">Memory Game</p>
    <a href="/practicing" class="home-button">Practice</a>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/7.2.0/introjs.min.css" rel="stylesheet">
    <div class="container">
        <div class="gallery-container">
            <div class="gallery" id="lettersGallery">
                <img src="/static/images/letters/0.png" alt="Image 0">
                <img src="/static/images/letters/1.png" alt="Image 1">
                <img src="/static/images/letters/2.png" alt="Image 2">
                <img src="/static/images/letters/3.png" alt="Image 3">
                <img src="/static/images/letters/4.png" alt="Image 4">
                <img src="/static/images/letters/5.png" alt="Image 5">
                <img src="/static/images/letters/6.png" alt="Image 6">
                <img src="/static/images/letters/7.png" alt="Image 7">
                <img src="/static/images/letters/8.png" alt="Image 8">
                <img src="/static/images/letters/9.png" alt="Image 9">
                <img src="/static/images/letters/10.png" alt="Image 10">
                <img src="/static/images/letters/a.png" alt="Image 11">
                <img src="/static/images/letters/b.png" alt="Image 12">
                <img src="/static/images/letters/c.png" alt="Image 13">
                <img src="/static/images/letters/d.png" alt="Image 14">
                <img src="/static/images/letters/e.png" alt="Image 15">
                <img src="/static/images/letters/f.png" alt="Image 16">
                <img src="/static/images/letters/g.png" alt="Image 17">
                <img src="/static/images/letters/h.png" alt="Image 18">
                <img src="/static/images/letters/i.png" alt="Image 19">
                <img src="/static/images/letters/j.png" alt="Image 20">
                <img src="/static/images/letters/k.png" alt="Image 21">
                <img src="/static/images/letters/l.png" alt="Image 22">
                <img src="/static/images/letters/m.png" alt="Image 23">
                <img src="/static/images/letters/n.png" alt="Image 24">
                <img src="/static/images/letters/o.png" alt="Image 25">
                <img src="/static/images/letters/p.png" alt="Image 26">
                <img src="/static/images/letters/q.png" alt="Image 27">
                <img src="/static/images/letters/r.png" alt="Image 28">
                <img src="/static/images/letters/s.png" alt="Image 29">
                <img src="/static/images/letters/t.png" alt="Image 30">
                <img src="/static/images/letters/u.png" alt="Image 31">
                <img src="/static/images/letters/v.png" alt="Image 32">
                <img src="/static/images/letters/w.png" alt="Image 33">
                <img src="/static/images/letters/x.png" alt="Image 34">
                <img src="/static/images/letters/y.png" alt="Image 35">
                <img src="/static/images/letters/z.png" alt="Image 36">
            </div>
        </div>

      
            <div class="gallery-container"> 
            <div class="gallery" id="handSignGallery">
            <img src="/static/images/hand sign none/zero.png" alt="Image 0">
        <img src="/static/images/hand sign none/one.png" alt="Image 1">
        <img src="/static/images/hand sign none/two.png" alt="Image 2">
        <img src="/static/images/hand sign none/three.png" alt="Image 3">
        <img src="/static/images/hand sign none/four.png" alt="Image 4">
        <img src="/static/images/hand sign none/five.png" alt="Image 5">
        <img src="/static/images/hand sign none/six.png" alt="Image 6">
        <img src="/static/images/hand sign none/seven.png" alt="Image 7">
        <img src="/static/images/hand sign none/eight.png" alt="Image 8">
        <img src="/static/images/hand sign none/nine.png" alt="Image 9">
        <img src="/static/images/hand sign none/ten.png" alt="Image 10">
        <img src="/static/images/hand sign none/a.png" alt="Image 11">
        <img src="/static/images/hand sign none/b.png" alt="Image 12">
        <img src="/static/images/hand sign none/c.png" alt="Image 13">
        <img src="/static/images/hand sign none/d.png" alt="Image 14">
        <img src="/static/images/hand sign none/e.png" alt="Image 15">
        <img src="/static/images/hand sign none/f.png" alt="Image 16">
        <img src="/static/images/hand sign none/g.png" alt="Image 17">
        <img src="/static/images/hand sign none/h.png" alt="Image 18">
        <img src="/static/images/hand sign none/i.png" alt="Image 19">
        <img src="/static/images/hand sign none/j.png" alt="Image 20">
        <img src="/static/images/hand sign none/k.png" alt="Image 21">
        <img src="/static/images/hand sign none/l.png" alt="Image 22">
        <img src="/static/images/hand sign none/m.png" alt="Image 23">
        <img src="/static/images/hand sign none/n.png" alt="Image 24">
        <img src="/static/images/hand sign none/o.png" alt="Image 25">
        <img src="/static/images/hand sign none/p.png" alt="Image 26">
        <img src="/static/images/hand sign none/q.png" alt="Image 27">
        <img src="/static/images/hand sign none/r.png" alt="Image 28">
        <img src="/static/images/hand sign none/s.png" alt="Image 29">
        <img src="/static/images/hand sign none/t.png" alt="Image 30">
        <img src="/static/images/hand sign none/u.png" alt="Image 31">
        <img src="/static/images/hand sign none/v.png" alt="Image 32">
        <img src="/static/images/hand sign none/w.png" alt="Image 33">
        <img src="/static/images/hand sign none/x.png" alt="Image 34">
        <img src="/static/images/hand sign none/y.png" alt="Image 35">
        <img src="/static/images/hand sign none/z.png" alt="Image 36">
            </div>
            </div>

    </div>
    <div id="congratulationsPopup" style="display: none;  background-color: rgba(0, 0, 0, 0.8); ">
        <div class="popup-content" style="background-color: white; padding: 40px; border-radius: 10px; text-align: center;">
            <img src="../static/images/good job.gif" width="480px" height="480px">
            <button onclick="closePopup()" >Close</button>
        </div>
    </div>
</body>
</html>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/7.2.0/intro.min.js"></script>
  <script src="/static/JS/cardGame.js"></script>
