<!DOCTYPE html>
<html lang="he">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/home.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>זיהוי כף יד עם MediaPipe</title>
 
    
</head>
<header>Hand Sign Learning</header>
<p class="titlePage">AI-driven project for recognizing hand gestures</p>
<p class="names">Yafit Avazov & Inon Reany</p>
<body>

    <div class="container">
        <a href="/learning" class="custom-button">Learning Letters</a>
        <a href="/practicing"class="custom-button"> Practice Letters</a>
        <a href="/test" class="custom-button">  Self Test   </a>
    </div>
   
</body>

</html>
