<!DOCTYPE html>
<html lang="he">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/learning.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>זיהוי כף יד עם MediaPipe</title>
    
</head>
<header>Hand Sign Learning</header>

<body>
    <p class="titlePage">Let's Learn!</p>
    <a href="/" class="home-button">Home page</a>


    <div class="menue">
        <div class="container">
            <div class="box">
                <p class="title" style="background: rgba(255, 255, 255, 0.6);; border-radius: 20px;">Learning By Camera</p>
                <a href="/learning-letters" class="image-link">
                    <img class="learn" src="/static/images/letters.png" width="250px" height="250px">
                </a>
            </div>
        </div>
        <div class="container">
            <div class="box">
            <p class="title" style=" background: rgba(255, 255, 255, 0.6);; border-radius: 20px;">Learning By Audio</p>
        <a href="/voice-learning" class="image-link">
        <img class="learn" src="/static/images/mic2.png" width="250px" height="250px">
        </a>
    </div>
</div>
       </div>
   
</body>
</html>
