<!DOCTYPE html>
<html lang="he">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/practice.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>זיהוי כף יד עם MediaPipe</title>
   
</head>
<header>Hand Sign Learning</header>

<body>
    <p class="titlePage">Let's Practice!</p>
    <a href="/" class="home-button">Home Page</a>
   
    <div class="menue">
        <div class="container">
            <div class="box">
                <p class="title" style=" border-radius: 20px;">Memory Game</p>
            <a href="/cardGame" class="image-link">
                <img class="cards" src="/static/images/card2.png " width="250px" height="250px" >
            </a>
        </div>
        </div>

        <div class="container">
            <div class="box">
                <p class="title" style=" border-radius: 20px;">Practice Your Name</p>
        <a href="/learningName" class="image-link">
        <img class="names" src="/static/images/name.png" width="250px" height="250px">
        </a>
        </div>
        </div>
   </div>
   
</body>
</html>
